---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "../_sass/_gruvbox.scss";

// Our variables
$base-font-family: "Roboto", sans-serif,"Helvetica Neue", Helvetica, Arial, cursive;
$head-font-family: 'Work Sans', sans-serif,"Helvetica Neue", Helvetica, Arial, sans-serif;
$code-font-family: "Roboto Mono", monospace;

$base-font-size:   18px;

$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;
$spacing-unit:     30px;
$text-color:       $gb_dark0;
$background-color: $gb_light0;



// Select a brand-color for your website. Keep it at the end if the list
$brand-color:      $gb_faded_blue; //This color is applied currently.


$grey-color:       $gb_gray_245;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "style"
;
