$gb_dark0_hard  : #1d2021;
$gb_dark0       : #282828; // gruvbox light foreground
$gb_dark0_soft  : #32302f;
$gb_dark1       : #3c3836;
$gb_dark2       : #504945;
$gb_dark3       : #665c54;
$gb_dark4       : #7c6f64;
$gb_dark4_256   : #7c6f64;

$gb_gray_245    : #928374;
$gb_gray_244    : #928374;

$gb_light0_hard : #f9f5d7;
$gb_light0      : #fbf1c7; // gruvbox light background
$gb_light0_soft : #f2e5bc;
$gb_light1      : #ebdbb2;
$gb_light2      : #d5c4a1;
$gb_light3      : #bdae93;
$gb_light4      : #a89984;
$gb_light4_256  : #a89984;

$gb_bright_red     : #fb4934;
$gb_bright_green   : #b8bb26;
$gb_bright_yellow  : #fabd2f;
$gb_bright_blue    : #83a598;
$gb_bright_purple  : #d3869b;
$gb_bright_aqua    : #99c48a;
$gb_bright_orange  : #fe8019;

$gb_neutral_red    : #cc241d;
$gb_neutral_green  : #98971a;
$gb_neutral_yellow : #d79921;
$gb_neutral_blue   : #458588;
$gb_neutral_purple : #b16286;
$gb_neutral_aqua   : #689d6a;
$gb_neutral_orange : #d65d0e;

$gb_faded_red      : #9d0006;
$gb_faded_green    : #79740e;
$gb_faded_yellow   : #b57614;
$gb_faded_blue     : #076678;
$gb_faded_purple   : #8f3f71;
$gb_faded_aqua     : #427b58;
$gb_faded_orange   : #af3a03;