/**
 * Syntax highlighting styles
 */
 @import "gruvbox";

.highlight {
    background: $gb_light0_hard;

    .highlighter-rouge & {
      background: $gb_light0_hard;
    }

    .c     { color: $gb_gray_244; font-style: regular } // Comment
    .err   { color: $gb_faded_red; } // Error
    .k     { font-weight: bold } // Keyword
    .o     { font-weight: bold } // Operator
    .cm    { color: $gb_gray_244; font-style: regular } // Comment.Multiline
    .cp    { color: $gb_light4; font-weight: bold } // Comment.Preproc
    .c1    { color: $gb_gray_244; font-style: regular } // Comment.Single
    .cs    { color: $gb_light4; font-weight: bold; font-style: regular } // Comment.Special
    .gd    { color: $gb_dark0_hard; } // Generic.Deleted
    .gd .x { color: $gb_dark0_hard; } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $gb_faded_red } // Generic.Error
    .gh    { color: $gb_light4 } // Generic.Heading
    .gi    { color: $gb_dark0_hard; } // Generic.Inserted
    .gi .x { color: $gb_dark0_hard; } // Generic.Inserted.Specific
    .go    { color: $gb_dark4_256 } // Generic.Output
    .gp    { color: $gb_dark3 } // Generic.Prompt
    .gs    { font-weight: bold } // Generic.Strong
    .gu    { color: $gb_light3 } // Generic.Subheading
    .gt    { color: $gb_faded_red } // Generic.Traceback
    .kc    { font-weight: bold } // Keyword.Constant
    .kd    { font-weight: bold } // Keyword.Declaration
    .kp    { font-weight: bold } // Keyword.Pseudo
    .kr    { font-weight: bold } // Keyword.Reserved
    .kt    { color: $gb_faded_red; font-weight: bold } // Keyword.Type
    .m     { color: $gb_bright_blue } // Literal.Number
    .s     { color: $gb_faded_green } // Literal.String
    .na    { color: $gb_neutral_blue } // Name.Attribute
    .nb    { color: $gb_faded_aqua } // Name.Builtin
    .nc    { color: $gb_faded_yellow; font-weight: bold } // Name.Class
    .no    { color: $gb_neutral_blue } // Name.Constant
    .ni    { color: $gb_faded_purple } // Name.Entity
    .ne    { color: $gb_faded_red; font-weight: bold } // Name.Exception
    .nf    { color: $gb_faded_red; font-weight: bold } // Name.Function
    .nn    { color: $gb_dark3 } // Name.Namespace
    .nt    { color: $gb_dark0_hard } // Name.Tag
    .nv    { color: $gb_neutral_blue } // Name.Variable
    .ow    { font-weight: bold } // Operator.Word
    .w     { color: $gb_light3 } // Text.Whitespace
    .mf    { color: $gb_faded_blue } // Literal.Number.Float
    .mh    { color: $gb_faded_blue } // Literal.Number.Hex
    .mi    { color: $gb_faded_blue } // Literal.Number.Integer
    .mo    { color: $gb_faded_blue } // Literal.Number.Oct
    .sb    { color: $gb_faded_green } // Literal.String.Backtick
    .sc    { color: $gb_faded_green } // Literal.String.Char
    .sd    { color: $gb_faded_green } // Literal.String.Doc
    .s2    { color: $gb_faded_green } // Literal.String.Double
    .se    { color: $gb_faded_green } // Literal.String.Escape
    .sh    { color: $gb_faded_green } // Literal.String.Heredoc
    .si    { color: $gb_faded_green } // Literal.String.Interpol
    .sx    { color: $gb_faded_green } // Literal.String.Other
    .sr    { color: $gb_bright_green } // Literal.String.Regex
    .s1    { color: $gb_faded_green } // Literal.String.Single
    .ss    { color: $gb_faded_blue } // Literal.String.Symbol
    .bp    { color: $gb_light4 } // Name.Builtin.Pseudo
    .vc    { color: $gb_neutral_blue } // Name.Variable.Class
    .vg    { color: $gb_neutral_blue } // Name.Variable.Global
    .vi    { color: $gb_neutral_blue } // Name.Variable.Instance
    .il    { color: $gb_bright_blue } // Literal.Number.Integer.Long
}
